* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game {
    background:url(../assets/img/Gizmo_back1.jpg) ;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.controls, select, option {
    font-size: 25px;
}