* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(194, 171, 171);
}

#game {
    width:1200px;
    height: 450px;
    top: 25%;
    position: relative;
    border:  3px solid black;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.controls, select, option {
    font-size: 25px;
}

#container {
    position: absolute;
    width: 1200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.enemy{
    z-index: -1;
}

#collisionCanvas{
    background-color: rgb(165, 165, 173);
}