* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(166, 230, 226);
   background-image: linear-gradient(to left, rgb(54, 172, 166), rgb(65, 202, 168),rgb(54, 172, 166) );
}

#game {
    top: 50%;
    left: 50%;
    position: absolute;
    border:  3px solid black;
    transform: translate(-50%, -50%);
}

.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.controls, select, option {
    font-size: 25px;
}

#container {
    position: absolute;
    width: 1200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.enemy{
    z-index: -1;
}

#collisionCanvas{
    background-color: linear-gradient(125deg, 165, 165, 173);
    opacity: 0;
}

img {
    display: none;
}