* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(194, 171, 171);
}

#game {
    background:url(../assets/img/Gizmo_back1.jpg);
    border: 3px solid black;
    width:1200px;
    height: 450px;
    top: 25%;
    position: absolute;
    left: 20%;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.controls, select, option {
    font-size: 25px;
}