header {
    margin: 0;
}

.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.nav-panel {
    padding: 1%;
    ul{
        display: flex;
        justify-content: space-around;
        font-family: "Rubik Scribble", system-ui;
        list-style: none;
        li{
            justify-self: center;
            a{
                color: rgb(98, 0, 255);
                line-height: 1.8em;
                padding: 1rem;
                img{
                    padding-top: 1%;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(240, 240, 240);
                }
            }
        }
    }
}

.main{
    padding: 2%;
    .gizmo{
        margin: 1rem;
        .gizmo-img{
            max-width: 100%;
            &.left{
                animation: left-gizmo 5s ease-in-out;
            }
            &.right{
                animation: right-gizmo 5s ease-in-out;
            }
            &:hover{
                animation-play-state: paused;
            }
        }
    }
    .area{
        display: flex;
        position: absolute;
        left: 0;
        top: 10%;
        width: 100%;
        height: 100%;
        background: transparent;
        .right-side, .left-side{
            width: 50%;
            .play-item{
                max-width: 7rem;
                max-height: 7rem;
                transition: all ease;
                cursor: pointer;
                &.active{
                    animation: fall-down 5s linear;
                }
                .item{
                    width: 11rem;
                    &:hover{
                        rotate: 30deg;
                    }
                }
            }
        }
        .right-side{
            .play-item{
                position: relative;
                left: 70%;
                .item{
                    animation: fall-down 7s linear;
                }
            }
        }
        .start-btn{
            position: absolute;
            top: 5%;
            left: 45%;
            background: #233;
            color: aliceblue;
            font-family: "Rubik Scribble", system-ui;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem;
            padding: 1.2em;
            cursor: pointer;
            &:hover{
                background-color: rgb(47, 155, 155);
                border: 1px solid rgb(52, 74, 173);
            }
        }
    }
}

@keyframes left-gizmo  {
    from {
        transform: 0;
    }
    to {
        transform: translateX(-50%);
    }
}
@keyframes right-gizmo  {
    from {
        transform: 0;
    }
    to {
        transform: translateX(50%);
    }
}
 @keyframes fall-down {
    from {
        transform: 0;
    }
    to {
        transform: translateY(300%);
    }
 }

