header {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav-panel {
  padding: 1%;
}
.nav-panel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Rubik Scribble", system-ui;
  list-style: none;
}
.nav-panel ul li {
  -ms-grid-column-align: center;
      justify-self: center;
}
.nav-panel ul li a {
  color: rgb(98, 0, 255);
  line-height: 1.8em;
  padding: 1rem;
  font-size: 3em;
}
.nav-panel ul li a:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.main {
  padding: 2%;
}
.main .start-btn {
  position: absolute;
  top: 5%;
  left: 45%;
  background: #233;
  color: aliceblue;
  font-family: "Rubik Scribble", system-ui;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  padding: 1.2em;
  cursor: pointer;
}
.main .start-btn:hover {
  background-color: rgb(47, 155, 155);
  border: 1px solid rgb(52, 74, 173);
}
.main .score {
  position: absolute;
  padding: 0.5em 1em;
  left: 50%;
  top: 5%;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  line-height: 1.8rem;
  font-size: 3rem;
  border: 0.2em;
  border-color: #233;
}
.main .score::before {
  content: "score";
  padding-right: 0.5em;
}
.main .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 10%;
  width: 90%;
  height: 100%;
  background: transparent;
}
.main .area .right-side, .main .area .left-side {
  width: 50%;
}
.main .area .right-side .play-item, .main .area .left-side .play-item {
  max-width: 7rem;
  max-height: 7rem;
  -webkit-transition: all ease;
  transition: all ease;
  cursor: pointer;
}
.main .area .right-side .play-item.active, .main .area .left-side .play-item.active {
  -webkit-animation: fall-down 5s linear;
          animation: fall-down 5s linear;
}
.main .area .right-side .play-item .item, .main .area .left-side .play-item .item {
  width: 11rem;
}
.main .area .right-side .play-item .item:hover, .main .area .left-side .play-item .item:hover {
  rotate: 30deg;
}
.main .area .right-side .play-item.caught, .main .area .left-side .play-item.caught {
  display: none;
}
.main .area .right-side .play-item {
  position: relative;
  left: 70%;
}
.main .area .right-side .play-item .item {
  -webkit-animation: fall-down 7s linear;
          animation: fall-down 7s linear;
}
.main .area .play-item {
  position: absolute;
  max-width: 7rem;
  max-height: 7rem;
  -webkit-transition: all ease;
  transition: all ease;
  cursor: pointer;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main .area .play-item.active {
  -webkit-animation: fall-down 5s linear;
          animation: fall-down 5s linear;
}
.main .area .play-item .item {
  width: 11rem;
}
.main .area .play-item .item:hover {
  rotate: 30deg;
}
.main .area .play-item.caught {
  display: none;
}
.main .area .gizmo {
  position: absolute;
  margin: 1rem;
  left: 11%;
  bottom: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  width: 65%;
}
.main .area .gizmo .gizmo-img {
  width: 90%;
}
.main .area .gizmo .gizmo-img.left {
  -webkit-animation: left-gizmo 5s ease-in-out alternate;
          animation: left-gizmo 5s ease-in-out alternate;
}
.main .area .gizmo .gizmo-img.right {
  -webkit-animation: right-gizmo 5s ease-in-out alternate;
          animation: right-gizmo 5s ease-in-out alternate;
}

@-webkit-keyframes left-gizmo {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes left-gizmo {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes right-gizmo {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: 0;
            transform: 0;
  }
}
@keyframes right-gizmo {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: 0;
            transform: 0;
  }
}
@-webkit-keyframes fall-down {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateY(350%);
            transform: translateY(350%);
    rotate: 5deg;
  }
  100% {
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
  }
}
@keyframes fall-down {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateY(350%);
            transform: translateY(350%);
    rotate: 5deg;
  }
  100% {
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
  }
}