body {
    margin: 0;
    background: rgb(128,130,167);
background: radial-gradient(circle, rgba(128,130,167,1) 0%, rgba(195,208,222,1) 100%);
    
}
header {
    margin: 0;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    background: linear-gradient(90deg, rgb(123, 120, 153) 1%, rgb(164, 176, 218)25%,rgb(105, 95, 150)75% );
}

.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.nav-panel {
    padding: 1%;
    ul{
        display: flex;
        justify-content: space-around;
        font-family: "Rubik Scribble", system-ui;
        list-style: none;
        li{
            justify-self: center;
            border: 1em  #111;
            border-radius: 1em;
            background-color: #f8f8f8;
            margin-left: 0.5em;
            a{
                color: rgb(98, 0, 255);
                line-height: 1.8em;
                padding: 1rem;
                font-size: 3em;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(147, 143, 150);
                }
            }
        }
    }
}

.main{
    padding-left: 2%;
    margin-top: 1em;
    .start-btn, .disco-btn{
        position: absolute;
        top: 5%;
        left: 45%;
        background: #233;
        color: aliceblue;
        font-family: "Rubik Scribble", system-ui;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        padding: 1.2em;
        cursor: pointer;
        &:hover{
            background-color: rgb(47, 155, 155);
            border: 1px solid rgb(52, 74, 173);
        }
    }
    .disco-btn{
        left: 65%;
        background: rgb(184, 150, 105);
        &:hover{
            background-color: rgb(108, 129, 129);
        }
    }
        .score{
            position: absolute;
            padding: 0.5em 1em;
            left: 50%;
            top: 5%;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 800;
            line-height: 1.8rem;
            font-size: 3rem;
            border: 0.2em;
            border-color: #233;
            &::before {
                content: "score";
                padding-right: 0.5em;
            }
        }
    .area{
        padding-top: 0.5em;
        display: flex;
        position: absolute;
        left: 0;
        top: 10%;
        width: 90%;
        height: 100%;
        background: transparent;
        &.active{
            animation: flashing 2s infinite;
            animation-direction: alternate;
        }
        .right-side, .left-side{
            width: 50%;
            .play-item{
                max-width: 7rem;
                max-height: 7rem;
                transition: all ease;
                cursor: pointer;
                .item{
                    width: 11rem;
                    &:hover{
                        rotate: 30deg;
                    }
                }
                &.caught{
                    display: none;
                }
            }
        }
        .right-side{
            .play-item{
                position: relative;
                left: 70%;
                .item{
                    animation: fall-down 7s linear;
                }
            }
        }
        .play-item{
            position: absolute;
            max-width: 7rem;
            max-height: 7rem;
            transition: all ease;
            cursor: pointer;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            &.active{
                animation: fall-down 5s linear;
            }
            .item{
                width: 11rem;
                &:hover{
                    rotate: 30deg;
                }
            }
            &.caught{
                display: none;
            }
        }
        .gizmo{
            position: absolute;
            margin: 1rem;
            left: 15%;
            bottom: 0;
            transition: 1s ease-in-out;
            width: 65%;
            //transform: translateX(-50%);
            .gizmo-img{
                width: 90%;
                &.left{
                    animation: left-gizmo 5s ease-in-out alternate;
                }
                &.right{
                    animation: right-gizmo 5s ease-in-out alternate;
                }
            }
        }
        .dance{
            position: absolute;
            width: 45vw;
            height: 45vh;
            top: 15%;
            left: 50%;
            z-index: -1;
            background-repeat: no-repeat;
        }
    }
    .modal{
        position: absolute;
        padding: 1em;
        background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        font-family: "Rubik Scribble", system-ui;
        left: 20%;
        top: 20%;
        .close{
            cursor: pointer;
            &::before{
                content: "";
                position: absolute;
                width: 0.2em;
                height: 2em;
                background-color: #111;
                transform: rotate(45deg);
                left: 92%;
            }
            &::after{
                content: "";
                position: absolute;
                width: 0.2em;
                height: 2em;
                background-color: #111;
                transform: rotate(-45deg);
                left: 92%;
            }
        }
        .rules{
            display: flex;
            align-items: center;
            flex-direction: column;
            h3 {
                font-size: 4rem;
                text-align: center;
            }
            p{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 2rem;
                color: #233;
                text-align: center;
            }
        }
    }
}

@keyframes left-gizmo  {
    0% {
        transform: 0;
    }
    50% {
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes right-gizmo  {
    0% {
        transform: 0;
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: 0;
    }
}
 @keyframes fall-down {
    0% {
        transform: 0;
    }
    50%{
        transform: translateY(350%);
        rotate: (5deg);
    }
    100%{
        transform: translateY(400%);
    }
 }

@media screen and (max-width: 820px) and (orientation: landscape){
    .header{
        justify-content:left;
    }
    .logo{
        img{
            width: 8em;
        height: 5em;
        }
    }
    .nav-panel{
        padding: 0;
        ul{
            li{
                a{
                    font-size: 1rem;
                }
            }
        }
    }
    .main{
        .area{
            height: 93.5%;
            .gizmo{
                margin: 0;
                left: 15%;
                width: 70%;
            }
            .play-item{
                max-width: 3rem;
            max-height: 3rem;
            .item{
                width: 5em;
            }
            }
        }
        .modal{
            .rules{
                h3 {
                    font-size: 3rem;
                }
            }
        }
        .start-btn{
            top: 2%;
            left: 53%;
            line-height: 1rem;
        }
        .score{
            top: 2%;
            left: 62%;
            font-size: 2rem;
        }
        .disco-btn{
            top: 2%;
            left: 82%;
            line-height: 1rem;
        }
    }
}

@media screen and (max-width: 600px)  {
    .header{
        justify-content: unset;
        position: relative;
        left: 0.2em;
    }
    .logo{
        img{
            width: 7em;
        height: 4em;
        }
    }
    .nav-panel{
        ul{
            position: absolute;
            left: 10%;
            top: 2%;
            li{
                &:first-child{
                    display: none;
                }
            }
        }
    }
    .main{
        .area{
            margin-left: 1em;
            .gizmo{
                width: 70%;
            }
            .play-item{
                max-width: 1.5rem;
            max-height: 1.5rem;
            .item{
                width: 3em;
            }
            }
            }
            .start-btn{
                top: 2%;
                left: 48%;
                line-height: 0.8rem;
                padding: 0.5em;
    
            }
            .score{
                top: 0;
                left: 55%;
                font-size: 2rem;
            }
            .disco-btn{
                line-height: 0.8rem;
                padding: 0.5em;
            }
            .modal{
                left: 0;
                .rules{
                    h3 {
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    @media screen  and (orientation: landscape) {   
        .body-container{
            max-width: 100%;
        }
        .logo{
            img{
                width: 5em;
            height: 3em;
            }
        }
        .nav-panel{
            ul{
                position: absolute;
                left: 5%;
                top: 0;
                li{
                    &:first-child{
                        display: block;
                    }
                    a{
                        padding: 0.1em;
                        font-size: 1rem;
                    }
                }
            }
        }
        .main{
            .area{
                margin-left: 1em;
                .gizmo{
                    width: 50%;
                }
                .play-item{
                    width: 3em;
                    .item{
                        width: 3em;
                    }
                }
                }
                .start-btn{
                    top: 3.5%;
                    left: 48%;
                    line-height: 0.8rem;
                    padding: 0.5em;
        
                }
                .score{
                    top: 0;
                    left: 55%;
                    font-size: 2rem;
                }
                .disco-btn{
                    line-height: 0.8rem;
                    padding: 0.5em;
                    left: 75%;
                    top: 3.5%;
                }
                .modal{
                    left: 10%;
                    .rules{
                        h3 {
                            font-size: 2rem;
                        }
                        p{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }