*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(128, 130, 167);
  background: radial-gradient(circle, rgb(128, 130, 167) 0%, rgb(195, 208, 222) 100%);
}

header {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgb(123, 120, 153)), color-stop(25%, rgb(164, 176, 218)), color-stop(75%, rgb(105, 95, 150)));
  background: linear-gradient(90deg, rgb(123, 120, 153) 1%, rgb(164, 176, 218) 25%, rgb(105, 95, 150) 75%);
}

.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav-panel {
  padding: 1%;
}
.nav-panel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Rubik Scribble", system-ui;
  list-style: none;
}
.nav-panel ul li {
  -ms-grid-column-align: center;
      justify-self: center;
  border: 1em #111;
  border-radius: 1em;
  background-color: #f8f8f8;
  margin-left: 0.5em;
}
.nav-panel ul li a {
  color: rgb(98, 0, 255);
  line-height: 1.8em;
  padding: 1rem;
  font-size: 3em;
  text-decoration: none;
}
.nav-panel ul li a:hover {
  cursor: pointer;
  background-color: rgb(147, 143, 150);
}

.main {
  padding-left: 2%;
  margin-top: 1em;
}
.main .start-btn, .main .disco-btn {
  position: absolute;
  top: 5%;
  left: 45%;
  background: #233;
  color: aliceblue;
  font-family: "Rubik Scribble", system-ui;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  padding: 1.2em;
  cursor: pointer;
}
.main .start-btn:hover, .main .disco-btn:hover {
  background-color: rgb(47, 155, 155);
  border: 1px solid rgb(52, 74, 173);
}
.main .disco-btn {
  left: 65%;
  background: rgb(184, 150, 105);
}
.main .disco-btn:hover {
  background-color: rgb(108, 129, 129);
}
.main .score {
  position: absolute;
  padding: 0.5em 1em;
  left: 50%;
  top: 5%;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  line-height: 1.8rem;
  font-size: 3rem;
  border: 0.2em;
  border-color: #233;
}
.main .score::before {
  content: "score";
  padding-right: 0.5em;
}
.main .area {
  padding-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 10%;
  width: 90%;
  height: 100%;
  background: transparent;
}
.main .area.active {
  -webkit-animation: flashing 2s infinite;
          animation: flashing 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.main .area .right-side, .main .area .left-side {
  width: 50%;
}
.main .area .right-side .play-item, .main .area .left-side .play-item {
  max-width: 7rem;
  max-height: 7rem;
  -webkit-transition: all ease;
  transition: all ease;
  cursor: pointer;
}
.main .area .right-side .play-item .item, .main .area .left-side .play-item .item {
  width: 11rem;
}
.main .area .right-side .play-item .item:hover, .main .area .left-side .play-item .item:hover {
  rotate: 30deg;
}
.main .area .right-side .play-item.caught, .main .area .left-side .play-item.caught {
  display: none;
}
.main .area .right-side .play-item {
  position: relative;
  left: 70%;
}
.main .area .right-side .play-item .item {
  -webkit-animation: fall-down 7s linear;
          animation: fall-down 7s linear;
}
.main .area .play-item {
  position: absolute;
  max-width: 7rem;
  max-height: 7rem;
  -webkit-transition: all ease;
  transition: all ease;
  cursor: pointer;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main .area .play-item.active {
  -webkit-animation: fall-down 5s linear;
          animation: fall-down 5s linear;
}
.main .area .play-item .item {
  width: 11rem;
}
.main .area .play-item .item:hover {
  rotate: 30deg;
}
.main .area .play-item.caught {
  display: none;
}
.main .area .gizmo {
  position: absolute;
  margin: 1rem;
  left: 15%;
  bottom: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  width: 65%;
}
.main .area .gizmo .gizmo-img {
  width: 90%;
}
.main .area .gizmo .gizmo-img.left {
  -webkit-animation: left-gizmo 5s ease-in-out alternate;
          animation: left-gizmo 5s ease-in-out alternate;
}
.main .area .gizmo .gizmo-img.right {
  -webkit-animation: right-gizmo 5s ease-in-out alternate;
          animation: right-gizmo 5s ease-in-out alternate;
}
.main .area .dance {
  position: absolute;
  width: 45vw;
  height: 45vh;
  top: 15%;
  left: 50%;
  z-index: -1;
  background-repeat: no-repeat;
}
.main .modal {
  position: absolute;
  padding: 1em;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  font-family: "Rubik Scribble", system-ui;
  left: 20%;
  top: 20%;
}
.main .modal .close {
  cursor: pointer;
}
.main .modal .close::before {
  content: "";
  position: absolute;
  width: 0.2em;
  height: 2em;
  background-color: #111;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 92%;
}
.main .modal .close::after {
  content: "";
  position: absolute;
  width: 0.2em;
  height: 2em;
  background-color: #111;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 92%;
}
.main .modal .rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .modal .rules h3 {
  font-size: 4rem;
  text-align: center;
}
.main .modal .rules p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  color: #233;
  text-align: center;
}

@-webkit-keyframes left-gizmo {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes left-gizmo {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes right-gizmo {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: 0;
            transform: 0;
  }
}
@keyframes right-gizmo {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: 0;
            transform: 0;
  }
}
@-webkit-keyframes fall-down {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateY(350%);
            transform: translateY(350%);
    rotate: 5deg;
  }
  100% {
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
  }
}
@keyframes fall-down {
  0% {
    -webkit-transform: 0;
            transform: 0;
  }
  50% {
    -webkit-transform: translateY(350%);
            transform: translateY(350%);
    rotate: 5deg;
  }
  100% {
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
  }
}
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .logo img {
    width: 8em;
    height: 5em;
  }
  .nav-panel {
    padding: 0;
  }
  .nav-panel ul li a {
    font-size: 1rem;
  }
  .main .area {
    height: 93.5%;
  }
  .main .area .gizmo {
    margin: 0;
    left: 15%;
    width: 70%;
  }
  .main .area .play-item {
    max-width: 3rem;
    max-height: 3rem;
  }
  .main .area .play-item .item {
    width: 5em;
  }
  .main .modal {
    left: 5%;
  }
  .main .modal .rules h3 {
    font-size: 3rem;
  }
  .main .start-btn {
    top: 2%;
    left: 55%;
    line-height: 1rem;
    padding: 0.8em;
  }
  .main .score {
    top: 1%;
    left: 62%;
    font-size: 2rem;
  }
  .main .disco-btn {
    top: 2%;
    left: 82%;
    line-height: 1rem;
    padding: 0.8em;
  }
}
@media screen and (max-width: 630px) {
  .header {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    position: relative;
    left: 0.2em;
  }
  .logo img {
    width: 7em;
    height: 4em;
  }
  .nav-panel ul {
    position: absolute;
    left: 10%;
    top: 2%;
  }
  .nav-panel ul li:first-child {
    display: none;
  }
  .main .area {
    margin-left: 1em;
  }
  .main .area .gizmo {
    width: 70%;
  }
  .main .area .play-item {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }
  .main .area .play-item .item {
    width: 3em;
  }
  .main .start-btn {
    top: 2%;
    left: 48%;
    line-height: 0.8rem;
    padding: 0.5em;
  }
  .main .score {
    top: 0;
    left: 55%;
    font-size: 2rem;
  }
  .main .disco-btn {
    line-height: 0.8rem;
    padding: 0.5em;
  }
  .main .modal {
    left: 0;
  }
  .main .modal .rules h3 {
    font-size: 2rem;
  }
  .main .modal .rules p {
    font-size: 1.5rem;
  }
}
@media screen and (orientation: landscape) {
  .header {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    position: relative;
    left: 0.2em;
  }
  .logo img {
    width: 7em;
    height: 4em;
  }
  .nav-panel ul {
    position: absolute;
    left: 10%;
    top: 2%;
  }
  .nav-panel ul li:first-child {
    display: none;
  }
  .nav-panel ul li a {
    font-size: 1.5rem;
  }
  .main .area {
    margin-left: 1em;
  }
  .main .area .gizmo {
    width: 60%;
  }
  .main .area .play-item {
    max-width: 30%;
    max-height: 30%;
  }
  .main .area .play-item .item {
    width: 3em;
  }
  .main .start-btn {
    top: 2%;
    left: 48%;
    line-height: 0.8rem;
    padding: 0.5em;
  }
  .main .score {
    top: -1%;
    left: 55%;
    font-size: 2rem;
  }
  .main .disco-btn {
    top: 2%;
    left: 72%;
    line-height: 0.8rem;
    padding: 0.5em;
  }
  .main .modal {
    left: 30%;
  }
  .main .modal .rules h3 {
    font-size: 2rem;
  }
  .main .modal .rules p {
    font-size: 1.5rem;
  }
}