header {
  margin: 0;
}

.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav-panel {
  padding: 1%;
}
.nav-panel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Rubik Scribble", system-ui;
  list-style: none;
}
.nav-panel ul li {
  -ms-grid-column-align: center;
      justify-self: center;
}
.nav-panel ul li a {
  color: rgb(98, 0, 255);
  line-height: 1.8em;
  padding: 1rem;
}
.nav-panel ul li a img {
  padding-top: 1%;
}
.nav-panel ul li a:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.main {
  padding: 2%;
}
.main .gizmo {
  margin: 1rem;
}
.main .gizmo .gizmo-img {
  max-width: 100%;
}
.main .gizmo .gizmo-img.left {
  -webkit-animation: left-gizmo 5s ease-in-out;
          animation: left-gizmo 5s ease-in-out;
}
.main .gizmo .gizmo-img.right {
  -webkit-animation: right-gizmo 5s ease-in-out;
          animation: right-gizmo 5s ease-in-out;
}
.main .gizmo .gizmo-img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.main .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  height: 100%;
  background: transparent;
}
.main .area .right-side, .main .area .left-side {
  width: 50%;
}
.main .area .right-side .play-item, .main .area .left-side .play-item {
  max-width: 7rem;
  max-height: 7rem;
  -webkit-transition: all ease;
  transition: all ease;
  cursor: pointer;
}
.main .area .right-side .play-item.active, .main .area .left-side .play-item.active {
  -webkit-animation: fall-down 5s linear;
          animation: fall-down 5s linear;
}
.main .area .right-side .play-item .item, .main .area .left-side .play-item .item {
  width: 11rem;
}
.main .area .right-side .play-item .item:hover, .main .area .left-side .play-item .item:hover {
  rotate: 30deg;
}
.main .area .right-side .play-item {
  position: relative;
  left: 70%;
}
.main .area .right-side .play-item .item {
  -webkit-animation: fall-down 7s linear;
          animation: fall-down 7s linear;
}
.main .area .start-btn {
  position: absolute;
  top: 5%;
  left: 45%;
  background: #233;
  color: aliceblue;
  font-family: "Rubik Scribble", system-ui;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  padding: 1.2em;
  cursor: pointer;
}
.main .area .start-btn:hover {
  background-color: rgb(47, 155, 155);
  border: 1px solid rgb(52, 74, 173);
}

@-webkit-keyframes left-gizmo {
  from {
    -webkit-transform: 0;
            transform: 0;
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes left-gizmo {
  from {
    -webkit-transform: 0;
            transform: 0;
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes right-gizmo {
  from {
    -webkit-transform: 0;
            transform: 0;
  }
  to {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@keyframes right-gizmo {
  from {
    -webkit-transform: 0;
            transform: 0;
  }
  to {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@-webkit-keyframes fall-down {
  from {
    -webkit-transform: 0;
            transform: 0;
  }
  to {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
  }
}
@keyframes fall-down {
  from {
    -webkit-transform: 0;
            transform: 0;
  }
  to {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
  }
}