header {
  margin: 0;
}

.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav-panel {
  padding: 1%;
}
.nav-panel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Rubik Scribble", system-ui;
  list-style: none;
}
.nav-panel ul li a {
  color: rgb(98, 0, 255);
  line-height: 1.8em;
}
.nav-panel ul li a:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.main {
  padding: 2%;
}
.main .gizmo {
  margin: 1rem;
}
.main .gizmo .gizmo-img {
  max-width: 100%;
}
.main .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}
.main .area .right-side, .main .area .left-side {
  width: 50%;
}
.main .area .right-side .play-item, .main .area .left-side .play-item {
  max-width: 7rem;
  max-height: 7rem;
  -webkit-transition: all ease;
  transition: all ease;
  cursor: pointer;
}
.main .area .right-side .play-item .item, .main .area .left-side .play-item .item {
  width: 11rem;
}
.main .area .right-side .play-item .item:hover, .main .area .left-side .play-item .item:hover {
  rotate: 30deg;
}
.main .area .right-side .play-item {
  position: relative;
  left: 70%;
}