* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", cursive;
}

body {
    overflow: hidden;
}

canvas {
    background-color: rgb(196, 235, 178);
    top: 0;
    left: 0;
}

img{
    display: none;
}