* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(102, 174, 207);
}

#game-canvas-1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

#gizmo, #layer1, #layer2, #enemy_fly, #enemy_stand, #enemy_crawl{
    display: none;
}